# Entorno virtual y archivos de Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Archivos de Django y de la base de datos
db.sqlite3
/media/
/static/

# Archivos de la IDE y del sistema
.vscode/
.idea/
.DS_Store
*.log

